<% provide(:title, 'تماس با ما') %>
<!DOCTYPE html>
<HTML>
    <head>
        <title><%= yield(:title) %></title>
    </head>
    
    <body>
        <h1>contacus</h1>
        <p>Contact us page</p>
    </body>
</HTML>