<% provide(:title, 'خانه') %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    
   <div class="container" id="bg">
     <div class="row">
       <div  id="toprow">
         <p style="color: #F8F8F8;">به هم تیمی خوش اومدی، همکار استارت آپت رو پیدا کن</p>
         <h2 style="color: #F8F8F8;">اینجا توییت هم میتونی بکنی، و بقیه رو هم فالو کنی</h2>
         <div style="margin-top: 40px;"><%= link_to "کار رو شروع کن!", signup_path , class: "btn btn-lg btn-primary" %></div>
       </div>
     </div>
  </div>
    
    
    
    <div class ="gray" style="padding-bottom: 20px; text-align: center;">
      <h1>آسونترین و سریعترین راه برای پیدا کردن همکار و شروع استارت - آپ</h1>
    </div>
    
    
    <!-- 3 points -->
    <div class="row three-points" style="text-align: center;">
      
      <div class="col-lg-4">
        <h2>استارت آپت رو شروع کن</h2>
        <p>Sag Miri</p>
      </div>
      
      <div class="col-lg-4">
        <h2>هم تیمی خودت رو پیدا کن</h2>
        <p>Sag Miri</p>
      </div>
      
      <div class="col-lg-4">
        <h2>به راحتی ثبت نام کن</h2>
        <p>Sag Miri</p>
      </div>
      
    </div>
    
    <script>
      $("#bg").css("height", $(window).height());
    </script>
    
  </body>
</html>