<footer class="footer">
  <medium>
    The <a href="http://www.hamteami.com">www.hamteami.com</a>
    by <a href="http://www.ashmiricoding.com">Ash Miri</a>
  </medium>
  <nav>
    <ul>
      <li><%= link_to "بلاگ", blog_path %></li>
      <li><%= link_to "سوالات متداول",faq_path  %></li>
      <li><%= link_to "تماس با ما", contactus_path %></li>
    </ul>
  </nav>
</footer>