<header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
          <%= link_to image_tag("htlogo2.png", alt: "logo", style:"height: 50px; width: 135px;"), root_path, :id => "logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li style = "font-size: 1.2em;"><%= link_to "درباره", about_path %></li>        
          <li style = "font-size: 1.2em;"><%= link_to "ورود", "#" %></li>
        </ul>
      </nav>
    </div>
</header>